<h1 class="mb-4"> Nice Product 😜  </h1>

<h2> <%= @product.title %> </h2>

<p> <%= @product.description %> </p>
<p> <%= number_to_currency(@product.price) %> </p>

<strong>Creaed By <%= @product.user&.full_name %> </strong>


<div> 
    <small>
        Posted <%= time_ago_in_words(@product.created_at) %> ago
    </small>
    ✧
    <small>
        Last edited <%= time_ago_in_words(@product.updated_at) %> ago
    </small>

</div>

<br />

<% if user_signed_in? %>
    <div>
        <% if can?(:edit, @product) %>
            <medium>
                <%= link_to "Edit", edit_product_path(@product) %>
            </medium>
        <% end %>
        <% if can?(:delete, @product) %>
            <medium>
            <%= link_to(
                "Delete",
                product_path(@product),
                method: :delete,
                data: {
                    confirm: "Are you sure?"
                    }
            ) %>
            </medium>
        <% end %>
    </div>
<% end %>


<h1> Reviews </h1>

<%= form_for [@product, @review] do |f| %>
  <%#= f.hidden_field :question_id, value: @question.id %>

    <% if @review.errors.present? %>
        <p>
        <%= @review.errors.full_messages.join(', ') %>
        </p>
    <% end %>

    <div>
    <%= f.label(:description) %> <br />
    <%= f.text_area(
        :body, cols: 60, rows: 6,
        placeholder: "What are your thoughts?"
    ) %>
    </div>
    <div>
        <%= f.label(:rating) %>
        <%= f.number_field(:rating) %>
    </div>
    <br />
  <%= f.submit "Submit" %>

<% end %>

<div class="">

    <% @reviews.each do |review| %>
        <% if review.hidden  == false %>
            <div>
            <p>
                <strong><%= review.user&.full_name %>  reviwed: 
                </strong> <br />
                <label> Body: <%= review.body %> </label> <br />
                <label> Rating: <%= review.rating %> </label> <br />
                <% if user_signed_in? && can?(:delete, review) %>
                    <small>
                        <%= link_to(
                            "Delete",
                            product_review_path(@product, review),
                            method: :delete,
                            data:{
                                confirm: "Are you sure?"
                            }
                            ) %> 
                    </small>
                    •     
                <% end %>
                <small>
                    Reviewed <%= time_ago_in_words(review.created_at) %> ago
                </small>
            </p>

                <small>
                    <%= link_to("Hide review", 
                        product_review_path(@product, review),
                        method: :patch
                    ) %> 

                </small>
            </div>
        <% end %>
    <% end %>

</div>