<h1> Nice Product 😜  </h1>

<h2> <%= @product.title %> </h2>

<p> <%= @product.description %> </p>
<p> <%= number_to_currency(@product.price) %> </p>

<div> 
    <small>
        Posted <%= time_ago_in_words(@product.created_at) %> ago
    </small>
    ✧
    <small>
        Last edited <%= time_ago_in_words(@product.updated_at) %> ago
    </small>

</div>

<br />

<div>

    <medium>
        <%= link_to "Edit", edit_product_path(@product) %>
    </medium>
    <medium>
    <%= link_to(
        "Delete",
        product_path(@product),
        method: :delete,
        data: {
            confirm: "Are you sure?"
            }
    ) %>
    </medium>

</div>

<h1> Reviews </h1>

<%= form_for [@product, @review] do |f| %>
  <%#= f.hidden_field :question_id, value: @question.id %>

    <% if @review.errors.present? %>
        <p>
        <%= @review.errors.full_messages.join(', ') %>
        </p>
    <% end %>

    <div>
    <%= f.label(:description) %> <br />
    <%= f.text_area(
        :body, cols: 60, rows: 6,
        placeholder: "What are your thoughts?"
    ) %>
    </div>
    <div>
        <%= f.label(:rating) %>
        <%= f.number_field(:rating) %>
    </div>
    <br />
  <%= f.submit "Submit" %>
<% end %>

<div class="">
  <% @reviews.each do |review| %>
    <div>
      <p>
        <label> Body: <%= review.body %> </label> <br />
        <label> Rating: <%= review.rating %> </label> <br />

           <small>
            <%= link_to(
                "Delete",
                product_review_path(@product, review),
                method: :delete,
                data:{
                    confirm: "Are you sure?"
                 }
                ) %> 
        </small>
        •     
        <small>
            Reviewed <%= time_ago_in_words(review.created_at) %> ago
        </small>
      </p>
    </div>
  <% end %>
</div>